:root{
  --accentColor:#bc002d;
  --primaryColor:#fff;
  --fontFamilyPrimary:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quizSetup{
  font-family: var(--fontFamilyPrimary);
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 60px;
  text-align: center;
}

.kanaSelection{
  display: flex;
  align-items: center;
  margin: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  border: #bc002d 2px dashed;
  padding: 10px;
}

.kanaSelect{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-color: #bc002d;
  color: rgb(0, 0, 0);
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  padding: 10px;
  margin-left: 5px;
  background-image: none;
}

.kanaSelect:hover{
  color: #b1b1b1;
  cursor: pointer;
}

.choices{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: #bc002d 2px dashed;
  margin: 10px;
  margin-bottom: 30px;
}

.choicesLabel{
  display: flex;
  align-items: center;
  background-color: #bc002d;
  width: 100%;
  height: 60px;
  padding: 20px;
  font-size: 30px;
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  color: #fff;
}

.choice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
}

.choiceItem{
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  margin: 5px;
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 50%; 
  background-color: white;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #bc002d;
  border: 2px solid black;
}

input[type="checkbox"] {
  transition: all 0.2s ease;
}

.questionCount{
  display: flex;
  align-items: center;
  margin: 10px;
  margin-bottom: 30px;
  border: #bc002d 2px dashed;
  padding: 10px;
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  font-size: 30px;
}

input[type="number"] {
  text-align: center;
  appearance: none;
  margin: 5px;
  padding:10px ;
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  border: 2px solid black; 
  background-color: white;
  cursor: pointer;
  position: relative;
}

.submit{
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  font-size: 20px;
  background-color: #bc002d;
  color: #fff;
  border: none;
  padding: 15px;
  margin-left: 10px;  
}

.submit:hover{
  cursor: pointer;
  background-color: black;
  transition: 0.1s ease-in;
}

.howTo{
  border: #000000 2px dashed;
  margin: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.head{
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  font-size: 20px;
  background-color: #000000;
  color: #fff;
  width: 100%;
}

.quizCardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizCard{
  background-color: #000000;
  color: #fff;
  padding: 20px;
  margin: 10px;
}

.quizQuestContainer{
  border: #333333 1px dashed;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

.quizQuestion{
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  font-size: 30px;
  margin: 5px;
}

.quizOption{
  font-family: var(--fontFamilyPrimary);
  background-color: #bc002d;
  color: #fff;
  border: none;
  margin: 6px;
  width: 100px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s;
}

.quizOption:hover{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border-color: #BC002D;
  cursor: pointer;
  transform: scalex(1.1) scaleY(1.1);
}

.quizOption.correct {
  background: #4caf50;
  color: white;
  border: 2px solid;
  border-color: #005803;
}

.quizOption.wrong {
  background: #ff0000;
  color: white;
  border: 2px solid;
  border-color: #740000;
}

.nextButton {
  margin-left: 180px;
  margin-top: 15px;
  padding: 10px;
  border: none;
  width: 80px;
  background: #bc002d;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50px;
  background-color: #474747;
  transition: 0.2s;
}

.nextButton:hover{
  background-color: white;
  color: #000000;
}

.nextButton:disabled {
  color: #cacaca;
  background: #2b2b2b;
  cursor: not-allowed;
}

.resultPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.resultContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: #000000;
}

.resultTxt{
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
} 

.score{
  color: #fff;
  font-family: var(--fontFamilyPrimary);
  font-weight: bold;
  font-size: 20px;
}

.retake{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#000000;
  color: white;
  border: none;
  margin: 10px;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: .2s;
  max-height: 45px;
  min-height: 35px;
  max-width: 300px;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#000000;
  color: white;
  border: none;
  margin: 5px;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transition: .2s;
  max-height: 45px;
  min-height: 35px;
  max-width: 300px;
}

.retake:hover, .home:hover{
    background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border-color: #BC002D;
  cursor: pointer;
}